<footer class="bg-dark text-center text-lg-start">
  <div class="container p-0">
    <div class="row justify-content-around">
      <div class="mb-md-0">
        <h5 class="text-uppercase mb-0">Links </h5>
        <ul class="list-unstyled mt-2">
          <li>
            <a href="https://github.com/Deftextra" class="text-dark">
              <img src="Images/git.png"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <span>Radwan Suufi</span>
  </div>
  
 
</footer>
