<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("~/wwwroot/dist/main.cshtml")
    <title>GitHub Client</title>
</head>

<body>
<header>
    <partial name="_NavBarPartial"/>
</header>

<div class="container-fluid text-center">
    <main class="row content">
        <div class="col-md-2 sidenav bg-dark m-1">
            <div id="navHeader" class="">
                @await RenderSectionAsync("navHeader")
            </div>
            @await RenderSectionAsync("NavContent", false)
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </main>
</div>
<partial name="_FooterPartial"/>
</body>


</html>