<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_GeneratedViews/generated-runtime")
    @await Html.PartialAsync("_GeneratedViews/generated-layout")
    @await RenderSectionAsync("Scripts", false)
    <title>GitHub Client</title>
</head>

<body>
<header>
    <partial name="_NavBarPartial"/>
</header>
<div class="container-fluid row content text-center">
    <div class="col-md-2 align-self-stretch sidenav bg-dark m-1">
        <div id="navHeader">
            @await RenderSectionAsync("navHeader")
        </div>
        @await RenderSectionAsync("NavContent", false)
    </div>
    <div class="col mb-1">
        @RenderBody()
    </div>
</div>
<partial name="_FooterPartial"/>

</body>
</html>