<!DOCTYPE html>
<html>
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script asp-src-include="/lib/jquery/dist/jquery*"></script>
    <title>@ViewData["Title"]</title>
</head>

<body>
@RenderBody()
</body>
</html>