@page
@model IndexModel

@section navHeader
{
   @if (User.Identity.IsAuthenticated)
   {
      <a class="text-secondary nav-link" asp-page="profile"> Profile</a>
   }
   else
   {
       <a class="text-secondary nav-link" asp-controller="Auth" asp-action="Login">
          Login with github
       </a>
   }
}

<h1>  This app is an example app using Oauth2.0 to login</h1>
<article>
   Some texbt
</article>
