@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Octokit
@model IndexModel

@section navHeader
{
   @if (User.Identity.IsAuthenticated)
   {
      <a class="text-secondary nav-link" asp-page="profile"> Profile</a>
   }
   else
   {
       <a class="text-secondary nav-link" asp-controller="Auth" asp-action="Login">
          Login with github
       </a>
   }
}

<h1 style="color: white">  This app is an example app using Oauth2.0 to login</h1>
<article style="color:white">
   The main aim of this repository is to demonstrate the usage of OAuth2.0 Authorization protocol using asp.net.
We use the Authorization Code Flow to aut
</article>

@functions
{
   public class IndexModel : PageModel
   {

      public async Task<IActionResult> OnGetAsync()
      {
         return Page();
      }
   }
   
}

