@page
@model IndexModel

@section SideNav
{
    <a class="nav-link active" id="v-pills-repositories-tab" data-toggle="pill" href="#v-pills-repositories" role="tab" aria-controls="v-pills-repositories" aria-selected="true">Home</a>
}

<h1>  This app is an example app using Oauth2.0 to login</h1>

<article>
   Some text
</article>
